.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 19;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: visibility 0.35s, opacity 0.35s;

  &--show {
    display: block;
  }

  &--active {
    visibility: visible;
    opacity: 1;
  }
}