.btn {
  padding: 15px 23px;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  background-color: var(--color-primary);
  border: 1px solid transparent;
  color: var(--color-white);
  cursor: pointer;
  transition: color 0.35s, background 0.35s, border 0.35s;

  &:disabled {
    opacity: 0.75;
    cursor: default;
  }

  &--black {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  &--gray-50 {
    background-color: var(--color-gray-50);
    color: var(--color-black);
  }

  &--gray-100 {
    background-color: var(--color-gray-100);
    color: var(--color-black);
  }

  &--opacity-10 {
    background-color: rgba(var(--color-primary--rgb), 0.1);
    color: var(--color-primary);
  }

  &--white-opacity-10 {
    background-color: rgba(var(--color-white--rgb), 0.1);
    color: var(--color-white);
  }

  &--border-white {
    border-color: var(--color-white);
    background-color: transparent;
  }

  &--border-blue {
    border-color: var(--color-blue);
    color: var(--color-blue);
    background-color: var(--color-white);
  }

  &--sm {
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 23px;
  }

  &--py-lg {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  &--py-xl {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &--py-2xl {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &--py-3xl {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  &--py-sm {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  &--py-xs {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &--py-2xs {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &--py-3xs {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &--px-xl {
    padding-left: 40px;
    padding-right: 40px;
  }

  &--pl-sm {
    padding-left: 20px;
  }

  &--pl-xs {
    padding-left: 16px;
  }

  &--pr-sm {
    padding-right: 20px;
  }

  &--rounded-xs {
    border-radius: 4px;
  }

  &--iflex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--column {
    flex-direction: column;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--items-start {
    align-items: flex-start;
  }

  &--items--end {
    align-items: flex-end;
  }

  &--full {
    width: 100%;
  }

  &--text-left {
    text-align: left;
  }

  &--text-xs {
    font-size: 14px;
  }

  &--text-sm {
    font-size: 16px;
    line-height: 1.375;
  }

  &--text-primary {
    color: var(--color-primary);
  }

  &--medium {
    font-weight: 500;
  }

  &__icon {
    flex: 0 0 auto;

    &:first-child:not(:last-child) {
      margin-right: 8px;
    }

    &:last-child:not(:first-child) {
      margin-left: 8px;
    }

    &--mx-xl {
      &:first-child:not(:last-child) {
        margin-right: 12px;
      }

      &:last-child:not(:first-child) {
        margin-left: 12px;
      }
    }

    &--mx-lg {
      &:first-child:not(:last-child) {
        margin-right: 10px;
      }

      &:last-child:not(:first-child) {
        margin-left: 10px;
      }
    }

    &--mx-sm {
      &:first-child:not(:last-child) {
        margin-right: 6px;
      }

      &:last-child:not(:first-child) {
        margin-left: 6px;
      }
    }

    &--mx-xs {
      &:first-child:not(:last-child) {
        margin-right: 4px;
      }

      &:last-child:not(:first-child) {
        margin-left: 4px;
      }
    }
  }

  &__content {
    text-align: left;
  }

  @media (max-width: 991px) {
    &--py-xl {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  @media (max-width: 767px) {
    &--py-3xl {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}
