.features {
  &__list {
    margin-top: -12px;
    margin-left: -12px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 12px;
    margin-left: 12px;
    width: calc(25% - 12px);
  }

  &__slide {
    height: auto;
  }

  &__slide-item {
    height: 100%;
  }

  @media (max-width: 1180px) {
    &__item {
      width: calc(50% - 12px);
    }
  }

  @media (max-width: 640px) {
    &__item {
      width: calc(100% - 12px);
    }
  }
}
