.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    max-height: 100%;
    object-fit: contain;
    transition: fill 0.35s, stroke 0.35s;

    &--rotate-180deg {
      transform: rotate(180deg);
    }

    &--stroke-black {
      stroke: var(--color-black);
    }

    &--stroke-white {
      stroke: var(--color-white);
    }
  }

  &--lg {
    width: 28px;
    height: 28px;
  }

  &--sm {
    width: 20px;
    height: 20px;
  }
}
