.info-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-black-light);

  &--gray-50 {
    background-color: var(--color-gray-50);
  }

  &--white {
    background-color: var(--color-white);
  }

  &__title {
    &--w-xs {
      max-width: 400px;
    }
  }

  &__text {
    &:not(:first-child) {
      margin-top: 12px;
    }

    &--mt-xs {
      &:not(:first-child) {
        margin-top: 4px;
      }
    }

    &--mt-lg {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }

    &--mt-xl {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }

  &__location {
    margin-bottom: 12px;
  }

  &__footer {
    margin-top: auto;
  }

  &__btn {
    margin-top: 20px;
  }

  &__bottom-location {
    margin-top: 16px;
  }

  @media (max-width: 767px) {
    &__text {
      &--mt-xl {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
}
