.info-cards {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  background-color: var(--color-gray-50);

  &__content {
    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &__line {
    position: relative;
    flex: 0 0 24px;

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--color-gray-50);
      border: 2px solid var(--color-grey);
    }

    &:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: calc(100% + 80px);
      background: repeating-linear-gradient(to bottom, rgba(var(--color-grey--rgb), 0.5) 0 12px, transparent 12px 24px);
    }

    &:first-child:not(:last-child) {
      margin-right: 40px;
    }

    &:last-child:not(:first-child) {
      margin-left: 40px;
    }
  }

  @media (max-width: 991px) {
    padding-top: 60px;

    &__line {
      &:first-child:not(:last-child) {
        margin-right: 24px;
      }

      &:last-child:not(:first-child) {
        margin-left: 24px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 45px;

    &__line {
      display: none;
    }
  }
}
