.info-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-black-light);
  overflow: hidden;

  &--gray-50 {
    background-color: var(--color-gray-50);
  }

  &--white {
    background-color: var(--color-white);
  }

  &--p-0 {
    padding: 0;
  }

  &--row {
    flex-direction: row;
  }

  &__title {
    &--w-xs {
      max-width: 400px;
    }

    &--mb-sm {
      margin-bottom: 12px;
    }
  }

  &__text {
    &:not(:first-child) {
      margin-top: 12px;
    }

    &--mt-sm {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }

    &--mt-xs {
      &:not(:first-child) {
        margin-top: 4px;
      }
    }

    &--mt-lg {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }

    &--mt-xl {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }

  &__location {
    margin-bottom: 12px;
  }

  &__main {
    padding: 32px;
  }

  &__img {
    align-self: flex-end;
  }

  &__footer {
    margin-top: auto;
  }

  &__btn {
    margin-top: 20px;
  }

  &__bottom-location {
    margin-top: 16px;
  }

  @media (max-width: 1180px) {
    &__main {
      padding: 28px;
    }
  }

  @media (max-width: 767px) {
    &--row {
      flex-direction: column;
    }

    &__main {
      padding: 24px 20px 0;
    }

    &__text {
      &--mt-xl {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }

    &__img {
      max-width: 200px;
    }
  }
}
