.invest-banner {
  &__content {
    position: relative;
    padding: 72px 60px;
    min-height: 476px;
    background-color: #000405;
    mask-image: radial-gradient(circle, black 100%, transparent 100.1%);

    &--gradient {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #000405 38.52%, rgba(217, 217, 217, 0) 58.28%);
      }
    }
  }

  &__main {
    position: relative;
    z-index: 1;
    max-width: 572px;
  }

  &__text {
    margin-top: 16px;
  }

  &__list {
    margin-top: -12px;
    margin-left: -12px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 12px;
    margin-left: 12px;
    width: calc(50% - 12px);
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  &__btn {
    margin-top: 36px;
  }

  @media (max-width: 1180px) {
    &__content {
      padding: 55px 45px;
      min-height: auto;
    }

    &__bg {
      max-width: 610px;
    }
  }

  @media (max-width: 991px) {
    &__content {
      padding: 32px 28px;
    }

    &__bg {
      max-width: 520px;
    }
  }

  @media (max-width: 767px) {
    &__content {
      padding: 24px 20px;
    }

    &__main {
      max-width: 100%;
    }

    &__item {
      width: calc(100% - 12px);
    }

    &__bg {
      display: none;

      &--money,
      &--credit,
      &--cash {
        top: unset;
        display: block;
        bottom: 0;

      }

      &--money {
        opacity: 0.35;
        object-position: 28%;
      }

      &--credit {
        opacity: 0.25;
        object-position: right;
      }

      &--cash {
        opacity: 0.3;
        object-position: 35%;
      }
    }
  }
}
