.main {
  padding-top: 168px;
  padding-bottom: 80px;
  flex: 1 1 auto;

  &--pb-0 {
    padding-bottom: 0;
  }

  &__section {
    margin-top: 80px;

    &--mt-sm {
      margin-top: 60px;
    }

    &--mt-xs {
      margin-top: 40px;
    }
  }

  &__app {
    margin-top: 120px;
  }

  &__types {
    margin-top: 106px;
  }

  &__breadcrumb {
    margin-bottom: 24px;
  }

  @media (max-width: 1080px) {
    padding-top: 157px;
  }

  @media (max-width: 991px) {
    padding-bottom: 60px;

    &__section {
      margin-top: 60px;

      &--mt-sm {
        margin-top: 50px;
      }

      &--mt-xs {
        margin-top: 40px;
      }
    }

    &__app {
      margin-top: 60px;
    }

    &__types {
      margin-top: 60px;
    }
  }

  @media (max-width: 767px) {
    padding-top: 145px;
    padding-bottom: 45px;

    &__section {
      margin-top: 45px;
    }

    &__app {
      margin-top: 45px;
    }

    &__types {
      margin-top: 45px;
    }

    &__breadcrumb {
      margin-bottom: 16px;
    }
  }
}
