.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--show {
    display: flex;
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    pointer-events: none;
  }

  &__dialog {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 40px;
    padding-bottom: 40px;
    min-height: calc(100% - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: all;
  }

  &__content {
    width: 464px;
    max-width: 100%;
    min-height: 0;
    transition: transform 0.4s;
  }

  @media (max-width: 767px) {
    &--mobile-full &__dialog {
      margin-top: 0;
      padding-bottom: 0;
      min-height: 100%;
    }

    &__content {
      border-radius: 0;
    }
  }
}
