.section {
  &--black {
    padding-top: 80px;
    background-color: var(--color-black);
  }

  &--gray-50 {
    padding-top: 80px;
    background-color: var(--color-gray-50);
  }

  &--pt-lg {
    padding-top: 60px;
  }

  &--pb-xl {
    padding-bottom: 80px;
  }

  &__header {
    position: relative;
    z-index: 3;
    margin-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--mb-sm {
      margin-bottom: 32px;
    }

    &--mb-xs {
      margin-bottom: 24px;
    }
  }

  &__header-btns {
    margin-left: 20px;
    display: flex;
    flex: 0 0 auto;
  }

  &__header-btn {
    &:not(:first-child) {
      margin-left: 8px;
    }

    &.swiper-button-lock {
      display: none;
    }
  }

  &__text {
    &--mt-sm {
      margin-top: 12px;
    }

    &--w-xl {
      max-width: 720px;
    }
  }

  &__item {
    margin-top: 24px;

    &--mt-xl {
      margin-top: 36px;
    }

    &--mt-sm {
      margin-top: 12px;
    }

    &--mt-normal {
      margin-top: 20px;
    }
  }

  &__nav {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    overflow-x: auto;
  }

  &__nav-btn {
    flex: 0 0 auto;
  }

  &__nav-group {
    position: relative;
    flex: 0 0 auto;

    &:not(:first-child) {
      margin-left: 24px;
      padding-left: 24px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 24px;
        background-color: rgba(var(--color-grey--rgb), 0.2);
      }
    }
  }

  &__btn {
    margin-top: 36px;
  }

  &__callback-partners {
    margin-top: 12px;
  }

  &__cards {
    &:not(:first-child) {
      margin-top: 12px;
    }

    &--mt-xl {
      &:not(:first-child) {
        margin-top: 36px;
      }
    }
  }

  &__cards-list {
    margin-top: -12px;
    margin-left: -12px;
    display: flex;
    flex-wrap: wrap;
  }

  &__cards-item {
    margin-top: 12px;
    margin-left: 12px;
    width: calc(50% - 12px);

    &--col-12 {
      width: calc(100% - 12px);
    }

    &--col-3 {
      width: calc(99.99% / 4 - 12px);
    }
  }

  &__rows-list {
    margin-top: -12px;
    margin-left: -12px;
    display: flex;
    flex-wrap: wrap;
  }

  &__row {
    margin-top: 12px;
    margin-left: 12px;
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    gap: 12px;

    &--8 {
      width: calc(100% / 12 * 8 - 12px);
    }

    &--7 {
      width: calc(100% / 12 * 7 - 12px);
    }

    &--5 {
      width: calc(100% / 12 * 5 - 12px);
    }

    &--4 {
      width: calc(100% / 12 * 4 - 12px);
    }
  }

  &__row-item {
    flex: 1 1 auto;
  }

  @media (max-width: 1180px) {
    &__cards-item {
      &--col-3 {
        width: calc(50% - 12px);
      }
    }

    &__row {
      &--4,
      &--8 {
        width: calc(100% - 12px);
      }

      &--lg-row {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &__row-item {
      &--lg-6 {
        width: calc(50% - 6px);
      }
    }
  }

  @media (max-width: 991px) {
    &--black {
      padding-top: 60px;
    }

    &--gray-50 {
      padding-top: 60px;
    }

    &--pb-xl {
      padding-bottom: 60px;
    }

    &__header {
      margin-bottom: 32px;

      &--mb-xs {
        margin-bottom: 24px;
      }
    }

    &__btn {
      margin-top: 32px;
    }

    &__row {
      &--7 {
        width: calc(100% - 12px);
      }

      &--lg-hide {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    &--black {
      padding-top: 45px;
    }

    &--gray-50 {
      padding-top: 45px;
    }

    &--pb-xl {
      padding-bottom: 45px;
    }

    &__header {
      margin-bottom: 24px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__header-btns {
      margin-left: auto;
      margin-top: 12px;
      padding-left: 24px;
    }

    &__btn {
      margin-top: 24px;
    }

    &__nav-group {
      &:not(:first-child) {
        margin-left: 20px;
        padding-left: 20px;
      }
    }

    &__cards-item {
      width: calc(100% - 12px);
    }

    &__row {
      width: calc(100% - 12px);

      &--lg-row {
        flex-direction: column;
      }
    }

    &__row-item {
      &--lg-6 {
        width: 100%;
      }
    }
  }
}
