.text-content {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  p,
  ul,
  li {
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  ul {
    padding-left: 9px;

    li {
      display: flex;
      align-items: flex-start;

      &:before {
        content: "";
        margin-top: 10px;
        margin-right: 11px;
        flex: 0 0 auto;
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--color-black);
      }
    }
  }

  b {
    font-weight: 600;
  }

  &--mark-primary {
    ul {
      li {
        &:before {
          background-color: var(--color-primary);
        }
      }
    }
  }

  &--grey {
    color: var(--color-grey);

    ul {
      li {
        &:before {
          background-color: var(--color-grey);
        }
      }
    }
  }

  &--white {
    color: var(--color-white);

    ul {
      li {
        &:before {
          background-color: var(--color-white);
        }
      }
    }
  }

  &--ul-line {
    ul {
      margin-bottom: -8px;
      margin-left: -22px;
      display: flex;
      flex-wrap: wrap;

      li {
        margin-bottom: 8px;
        margin-left: 22px;

        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }
  }

  &--my-lg {
    p,
    ul {
      &:not(:first-child) {
        margin-top: 12px;
      }
    }
  }

  &--my-xl {
    p,
    ul,
    li {
      &:not(:first-child) {
        margin-top: 16px;
      }
    }
  }

  &--my-2xl {
    p,
    ul,
    li {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}
